div p{
    width:50px;
    height:50px;
    border:1px solid black;
    text-align:center;
    padding-top:20px;
    border-radius:50%;
    position:relative;
    animation: move 5s infinite;
    margin:220px 30px 20px 230px;
}
@keyframes move{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-100px);
    }
}